.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.razer-icon-on {
    background-image: url("icons/on.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}

.razer-icon-off {
    background-image: url("icons/off.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}
